@page "/countries"
@inject IRepository repository

<h3>Paises</h3>

@if (countries is null)
{
    <p>Cargando..</p>
}
else
{
    <table>
        <thead>
            <tr>
                <th>Pais</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var country in countries)
            {
                <tr>
                    <td>@country.Name</td>
                    <td></td>
                </tr>

            }
        </tbody>
    </table>
}

@code {
    private List<Country>? countries;

    protected override async Task OnInitializedAsync()
    {
        var response = await repository.GetAsync<List<Country>>("api/countries");

        if (response.Error)
        {
            //TODO: Pending Implement
            return;
        }

        countries = response.Response;
    }
}
